Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Flask-WTF==1.1.1
WTForms==3.0.1
Werkzeug==2.3.7
email-validator==2.0.0
pillow
python-dotenv==1.0.0
requests==2.31.0
beautifulsoup4==4.12.2
spacy==3.7.2
pdfplumber==0.10.3
python-docx==1.1.0
paytmchecksum
qrcode==7.4.2
weasyprint==60.1
celery==5.3.4
redis==5.0.1
flask-caching==2.0.2
flask-migrate==4.0.5
flask-login
Flask
gunicorn

flask-login